@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.e9_3 {
  background-color: white;
  box-shadow: 0px 0.9990851879119873px 0.9990851879119873px rgba(0, 0, 0, 0.25);
  width: 606px;
  height: 831px;
  position: absolute;
}
.e0_34 {
  color: rgba(0, 0, 0, 1);
  width: 189.0770721435547px;
  height: 17px;
  position: absolute;
  left: 393.88970947265625px;
  top: 782.2025756835938px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_35 {
  color: rgba(0, 0, 0, 1);
  width: 125.63501739501953px;
  height: 17px;
  position: absolute;
  left: 217.1765899658203px;
  top: 782.2025756835938px;
  font-family: Poppins;
  text-align: center;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_36 {
  color: rgba(0, 0, 0, 1);
  width: 88.41909790039062px;
  height: 17px;
  position: absolute;
  left: 39.58880615234375px;
  top: 780.9534912109375px;
  font-family: Poppins;
  text-align: center;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_37 {
  color: rgba(0, 0, 0, 1);
  width: 146.8656463623047px;
  height: 28px;
  position: absolute;
  left: 256.764892578125px;
  top: 152.67385864257812px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_38 {
  color: rgba(0, 0, 0, 1);
  width: 108.65060424804688px;
  height: 17px;
  position: absolute;
  left: 256.0157470703125px;
  top: 210.697998046875px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_39 {
  color: rgba(0, 0, 0, 1);
  width: 116.39346313476562px;
  height: 17px;
  position: absolute;
  left: 256.2657470703125px;
  top: 192.46533203125px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_40 {
  color: rgba(0, 0, 0, 1);
  width: 72.93328857421875px;
  height: 17px;
  position: absolute;
  left: 256.0157470703125px;
  top: 226.6834716796875px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_41 {
  color: rgba(0, 0, 0, 1);
  width: 60.44468307495117px;
  height: 17px;
  position: absolute;
  left: 256.2657470703125px;
  top: 243.16845703125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_42 {
  color: rgba(0, 0, 0, 1);
  width: 101.65692138671875px;
  height: 17px;
  position: absolute;
  left: 423.363037109375px;
  top: 210.697998046875px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_43 {
  color: rgba(0, 0, 0, 1);
  width: 146.36607360839844px;
  height: 17px;
  position: absolute;
  left: 423.6121826171875px;
  top: 192.46533203125px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_44 {
  color: rgba(0, 0, 0, 1);
  width: 74.93143463134766px;
  height: 17px;
  position: absolute;
  left: 423.363037109375px;
  top: 226.93310546875px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_45 {
  color: rgba(0, 0, 0, 1);
  width: 60.44468307495117px;
  height: 17px;
  position: absolute;
  left: 423.6121826171875px;
  top: 243.16845703125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_46 {
  color: rgba(0, 0, 0, 1);
  width: 218.550048828125px;
  height: 28px;
  position: absolute;
  left: 256.0157470703125px;
  top: 327.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_16 {
  width: 98.65972900390625px;
  height: 193.93142700195312px;
  position: absolute;
  left: 6.3731689453125px;
  top: 355.8980712890625px;
}
.e0_17 {
  color: rgba(0, 0, 0, 1);
  width: 95.41271209716797px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_19 {
  color: rgba(0, 0, 0, 1);
  width: 98.65972900390625px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 29.488571166992188px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_23 {
  color: rgba(0, 0, 0, 1);
  width: 73.18303680419922px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 58.977142333984375px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_25 {
  color: rgba(0, 0, 0, 1);
  width: 79.17752075195312px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 88.46571350097656px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_27 {
  color: rgba(0, 0, 0, 1);
  width: 78.17852020263672px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 117.95428466796875px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_29 {
  color: rgba(0, 0, 0, 1);
  width: 64.19129943847656px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 147.44285583496094px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_31 {
  color: rgba(0, 0, 0, 1);
  width: 97.16114044189453px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 176.93142700195312px;
  font-family: Poppins;
  text-align: left;
  font-size: 10.407132148742676px;
  letter-spacing: 0;
  line-height: px;
}
.e0_47 {
  color: rgba(0, 0, 0, 1);
  width: 93.91404724121094px;
  height: 28px;
  position: absolute;
  left: 6.3731689453125px;
  top: 327.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_48 {
  color: rgba(0, 0, 0, 1);
  width: 159.35421752929688px;
  height: 17px;
  position: absolute;
  left: 255.76612854003906px;
  top: 374.0760192871094px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_49 {
  color: rgba(0, 0, 0, 1);
  width: 150.61216735839844px;
  height: 17px;
  position: absolute;
  left: 256.01580810546875px;
  top: 355.59295654296875px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_50 {
  color: rgba(0, 0, 0, 1);
  width: 331.6965026855469px;
  height: 34px;
  position: absolute;
  left: 256.2657470703125px;
  top: 391.37158203125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_51 {
  color: rgba(0, 0, 0, 1);
  width: 160.85276794433594px;
  height: 17px;
  position: absolute;
  left: 255.76612854003906px;
  top: 457.250244140625px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_52 {
  color: rgba(0, 0, 0, 1);
  width: 150.61216735839844px;
  height: 17px;
  position: absolute;
  left: 256.01580810546875px;
  top: 439.0166015625px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_53 {
  color: rgba(0, 0, 0, 1);
  width: 331.6965026855469px;
  height: 34px;
  position: absolute;
  left: 256.2657470703125px;
  top: 474.5451965332031px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_54 {
  color: rgba(0, 0, 0, 1);
  width: 160.35330200195312px;
  height: 17px;
  position: absolute;
  left: 255.76612854003906px;
  top: 540.1740112304688px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_55 {
  color: rgba(0, 0, 0, 1);
  width: 150.61216735839844px;
  height: 17px;
  position: absolute;
  left: 256.01580810546875px;
  top: 522.1910400390625px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_56 {
  color: rgba(0, 0, 0, 1);
  width: 331.6965026855469px;
  height: 34px;
  position: absolute;
  left: 256.2657470703125px;
  top: 557.9691772460938px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_57 {
  color: rgba(0, 0, 0, 1);
  width: 131.37979125976562px;
  height: 17px;
  position: absolute;
  left: 255.76612854003906px;
  top: 672.6738891601562px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_58 {
  color: rgba(0, 0, 0, 1);
  width: 130.13092041015625px;
  height: 17px;
  position: absolute;
  left: 255.76612854003906px;
  top: 655.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_59 {
  color: rgba(0, 0, 0, 1);
  width: 125.8847427368164px;
  height: 17px;
  position: absolute;
  left: 256.01580810546875px;
  top: 689.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_60 {
  color: rgba(0, 0, 0, 1);
  width: 92.66521453857422px;
  height: 17px;
  position: absolute;
  left: 256.2657470703125px;
  top: 705.6738891601562px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_61 {
  color: rgba(0, 0, 0, 1);
  width: 208.80894470214844px;
  height: 17px;
  position: absolute;
  left: 6.3731689453125px;
  top: 672.673828125px;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_62 {
  color: rgba(0, 0, 0, 1);
  width: 209.55825805664062px;
  height: 17px;
  position: absolute;
  left: 6.3731689453125px;
  top: 689.673828125px;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_63 {
  color: rgba(0, 0, 0, 1);
  width: 209.55825805664062px;
  height: 17px;
  position: absolute;
  left: 6.3731689453125px;
  top: 705.673828125px;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_64 {
  color: rgba(0, 0, 0, 1);
  width: 209.55825805664062px;
  height: 17px;
  position: absolute;
  left: 6.3731689453125px;
  top: 655.673828125px;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_65 {
  color: rgba(0, 0, 0, 1);
  width: 131.13009643554688px;
  height: 17px;
  position: absolute;
  left: 423.11285400390625px;
  top: 672.6738891601562px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_66 {
  color: rgba(0, 0, 0, 1);
  width: 142.1199951171875px;
  height: 17px;
  position: absolute;
  left: 423.61224365234375px;
  top: 655.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 12.488568305969238px;
  letter-spacing: 0;
  line-height: px;
}
.e0_67 {
  color: rgba(0, 0, 0, 1);
  width: 125.8847427368164px;
  height: 17px;
  position: absolute;
  left: 423.363037109375px;
  top: 689.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_68 {
  color: rgba(0, 0, 0, 1);
  width: 88.66888427734375px;
  height: 17px;
  position: absolute;
  left: 423.61224365234375px;
  top: 705.6738891601562px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_70 {
  color: rgba(0, 0, 0, 1);
  width: 107.15193939208984px;
  height: 28px;
  position: absolute;
  left: 6.3731689453125px;
  top: 613.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_72 {
  color: rgba(0, 0, 0, 1);
  width: 227.79164123535156px;
  height: 100px;
  position: absolute;
  left: 6.3731689453125px;
  top: 193.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 8.325711250305176px;
  letter-spacing: 0;
  line-height: px;
}
.e0_69 {
  color: rgba(0, 0, 0, 1);
  width: 161.6022186279297px;
  height: 28px;
  position: absolute;
  left: 6.3731689453125px;
  top: 152.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_71 {
  color: rgba(0, 0, 0, 1);
  width: 152.8601531982422px;
  height: 28px;
  position: absolute;
  left: 256.764892578125px;
  top: 613.673828125px;
  font-family: Poppins;
  text-align: left;
  font-size: 18.732845306396484px;
  letter-spacing: 0.22479422390460968;
}
.e0_74 {
  color: rgba(0, 0, 0, 1);
  width: 236.5335693359375px;
  height: 28px;
  position: absolute;
  left: 146.1202392578125px;
  top: 48.5020751953125px;
  font-family: Poppins;
  text-align: center;
  font-size: 18.732845306396484px;
  letter-spacing: 0.44958844780921936;
}
.e0_73 {
  color: rgba(0, 0, 0, 1);
  width: 264.5079345703125px;
  height: 56px;
  position: absolute;
  left: 142.1202392578125px;
  top: -2.4979248046875px;
  font-family: Poppins;
  text-align: left;
  font-size: 37.46569061279297px;
  letter-spacing: 0;
}
.pdfBackground{
  background-color: white;
}